<section class="app-two-cta ptb-120 text-white bg-dark">
    <div class="container">
        <div class="row align-items-start justify-content-lg-between">
            <div class="col-lg-6 col-xl-6">
                <div class="position-relative text-center pe-5 mb-5">
                    <img src="/img/presco.jpg"
                         alt="Presco"
                         class="img-fluid position-relative z-5"
                         style="max-width: 100%; height: auto;">
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-10">
                <div class="app-two-cta-right px-md-0 pt-5 pt-md-2">
                    <div class="section-heading text-white">
                        <h2 class="text-white">
                            PRESCO PLC NOTICE
                        </h2>
                        <p>
                            Click the link below to complete the mandate form and send the generated mandate code
                            to info@firstregistrarsnigeria.com.
                        </p>
                    </div>
                    <a href="mailto:info@firstregistrarsnigeria.com?subject=Mandate%20Form%20Submission&body=Please%20attach%20your%20mandate%20code."
                       class="btn btn-outline-light mt-2">
                        Email Us
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
